.reco {
    .detail{
        width: 70%;
        display: inline-block;
        
        padding-left: 10px;
        box-sizing: border-box;
        .title {
            line-height: 40px;
        }
        p {
            text-indent: 2em;
            font-size: 14px;
            line-height: 20px;
        }
        .detail-info {
            height: 40px;
            .author {
                font-size: 12px;
            }
            .class,.point {
                padding: 3px 8px;
                border: 1px solid #ccc;
                border-radius: 10px;
                font-size: 10px;
                float: right; 
            }
        }
    }
    img {
        display: inline-block;
        width: 30%;
    }
}