.class-all {
    width: 100%;
    margin-top: 53px;
    .class-nav {
        width: 20%;
        position:fixed;
        top:53px;
        left: 0;
        
        ul {
            li{
                height: 60px;
                line-height: 60px;
                font-size: 14px;
                text-align: center;
            }
            .active {
                border-left: 1px solid #3ec9b6;
                background: #fff;
            }
        }
    }

    .class-content {
        float: right;
        background: #fff;
        width: 80%;
        min-height:600px;
        padding-top: 10px;
        li {
            display: inline-block;
            width: 50%;
            height: 60px;
            a {
                color:#343333;
                line-height: 40px;
                font-size: 14px;
                display: inline-block;
            }
            img {
                width: 20%;
                margin: 0 10px 0 30px;
                vertical-align: middle;
            }
        }
    }
}

